blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.text-color {
    color: #999999;
}

img.student-image {
    width: 125px;
    height: 125px;
    /* аж три рядки, щоб картинка була по центру області в якій вона є */
    display: block;
    margin-left: auto;     
    margin-right: auto; 
}

p.student-name {
    text-indent: 0px;
    text-align: center;
    padding-top: 10px;
}

div.students-list-first-margin {
    margin-top: 40px;
}

div.students-list-margin {
    margin-top: 30px;
}

p {
    text-indent: 50px;
    font-size: 120%;
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 220%;
}

h2.indent {
    margin-top: 70px;
}

footer {
    margin-top: 70px;
}
