.bg-1 {
    background-color: #373737; 
    color: #ffffff;
    padding-top: 70px;
    /* background: url(../images/background.png);
    bacgkround-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom:5px; */
}

.footer { 
    padding: 30px;
    background-color: #111111; /* Black Gray */
    color: #fff;
}

.bg-1-text {
    color: #dae7d9;
    text-decoration: none;
}

body {
    background-color: #171717;
}

.groups-list {
    padding-top: 120px;
    padding-bottom: 120px;
}

.group-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.group-background {
    color: #dddddd;
    padding: 50px;
}

.group-text-style {
    padding: 20px;
    font-size: 16px;
}
