.footer {
    position:absolute; 
    bottom:0; 
    width: 99%; 
    height:30px; 
    background-color:black; 
    color:white; 
    text-align:center;
}

.center {
    text-align: center;
    padding-top: 50px;
}

.custom-animation {
    animation-name: img-custom-animation;
    animation-duration: 1s;
}

@keyframes img-custom-animation {
    10% {
		opacity:0
	}
	100% {
		opacity:1
	}
}

p {
    animation: appear 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.typing {
    white-space: nowrap;
    overflow: hidden;
    animation: type 3s steps(50, end);
    animation-fill-mode: forwards;
    opacity: 0;
    width: 100%;
    display: inline-block;
}

.wait1 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.wait2 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.wait3 {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

span {
  animation: blink 1s infinite;
}

@keyframes type { 
  from { width: 0; opacity: 1 } 
  to { width: 100%; opacity: 1 } 
} 

@keyframes appear {
    from { opacity: 0 }
    to {opacity: 1 }
}

@keyframes blink {
  to{opacity: .0;}
}
